@import url("navigation.css");
@import url("pagination.css");
@import url("header.css");
@import url("form.css");
@import url("input.css");
@import url("table.css");

:root{
    --main-bkgnd-light: rgb(255, 255, 255);
    --main-bkgnd: rgb(244, 244, 244);
    --main-bkgnd-darker: rgb(214, 216, 224);
    --main-bkgnd-dark: rgb(189, 187, 179);

    --overlay-darker: #0004;
    --overlay-dark: #0002;

    --color-inverted: rgb(248, 248, 248);

    --border: rgb(221, 221, 221) solid 1px;
    --border-radius: 6px;

    --accent-light: rgb(131, 181, 238);
    --accent: rgb(53, 108, 211);
    --accent-active: rgb(31, 80, 172);
}
*{
    font-family: 'Roboto', sans-serif;
    color: #444;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    user-select: none;
}


body{
    background-color: var(--main-bkgnd);
    font-size: 0;
}



main{
    position: absolute;
    top: 4rem;
    left: 20%;
    width: 80%;
    height: calc(100vh - 4rem);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
}

.view{
    position: absolute;
    left: 0;
    transition: left .8s cubic-bezier(.36,.58,.6,1);
    z-index: 10;
    height: calc(100vh - 4rem);
}
#add-view, #edit-view{
    padding: 2rem 12.5%;
    width: 100%;
}
#list-view{
    padding: 2rem 4rem;
    width: 100%;
}
.hide-top{
    top: -100%;
    transition: top .8s cubic-bezier(.36,.58,.6,1), z-index 0.8s step-end;
    z-index: -10;
}
.on-top{
    top: 0;
    background-color: var(--main-bkgnd);
    transition: top .8s cubic-bezier(.36,.58,.6,1);
    z-index: 10;
}
.hide-right{
    left: 100%;
    z-index: -10;
}

.hide-left{
    left: -100%;
    z-index: -10;
}

hr{
    margin: .25rem 0 1rem 0;
    border: none;
    border-top: var(--border);
}
h1{
    font-size: 2rem;
}

.bar-action{
    width: 100%;
    text-align: center;
    font-size: 0;
}
.bar-action > *{
    vertical-align: top;
}
.bar-action > .bar-title{
    line-height: 2rem;
    font-size: 1.5rem;
}
.bar-action > .clickable{
    height: 2rem;
    border-radius: var(--border-radius);
}

.inline-block{
    display: inline-block;
    font-size: 0;
}

.inline-block > *{
    vertical-align: top;
}

.align-left{
    position: absolute;
    left: 0;
}

.align-right{
    position: absolute;
    right: 0;
}

.hidden{
    display: none;
}

.clickable{
    cursor: pointer;
    transition: background-color 0.2s;
}
.clickable:hover{
    background-color: var(--overlay-dark);
}
.clickable:active{
    background-color: var(--overlay-darker);
}

